extends layout 

block content
    if cars.length == 0
        h2(class="text-center" style="margin-bottom: 1em")= "No cars available"
    else
        h2(class="text-center" style="margin-bottom: 1em")= "Our carefully curated list of cars"
        div(class="" style="display: grid; grid-template-columns: 1fr 1fr; place-items:center; gap: 3em;") 
            each car in cars 
                div(class="card" style="width: 18rem")
                    img(src=car.imgUrl class="card-img-top" alt=car.model)
                    div(class="card-body")
                        h5(class="card-title")=`${car.company.name} ${car.model}`
                        p(class="card-text")=`Stock: ${car.stock}`
                        a(href=car.url class="btn btn-primary")="Details"
    
    div(style="display: flex; align-items: center; gap: 1em; margin: 2em; flex-direction: column;") 
        a(class="btn btn-secondary btn-center" href="/cars/create")= "Create New Car"
        a(class="btn btn-primary btn-center" href="/")= "Back"