extends layout 

block content
    h2(class="text-center" style="margin-bottom: 1em")= "Our carefully curated list of cars"
    div(class="" style="display: grid; grid-template-columns: 1fr 1fr; place-items:center; gap: 3em;") 
        each car in cars 
            div(class="card" style="width: 18rem")
                img(src=car.imgUrl class="card-img-top" alt=car.model)
                div(class="card-body")
                    h5(class="card-title")=`${car.company.name} ${car.model}`
                    p(class="card-text")=`Stock: ${car.stock}`
                    a(href=car.url class="btn btn-primary")="Details"
    div(style="display: flex; justify-content: center; margin: 2em") 
        a(class="btn btn-primary btn-center" href="/")= "Back"