extends layout

block content
    div(style="display: grid; place-items: center; gap: 2em; margin-bottom: 10em;")
      h2(class="h2")= `${company.name}`
      p(class="text-center" style="padding: 1em 5em;")
       i= company.description
      h4= `Estd: ${company.established}`
      h4= `Country: ${company.country}`
      div(style="display: flex; justify-content: space-around;") 
      each car in cars
        div(class="card" style="width: 18rem")
          img(src=car.imgUrl class="card-img-top" alt=car.model)
          div(class="card-body")
            h5(class="card-title")=`${car.company.name} ${car.model}`
            p(class="card-text")=`Stock: ${car.stock}`
            a(href=car.url class="btn btn-primary")="Details" 
      
      a(class="btn btn-success" href=company.url+"/update")= "Update Company"
      a(class="btn btn-danger" href=company.url+"/delete")= "Delete Company"
      a(class="btn btn-primary" href="/company")= "Back"